<html>
    <head>
        <title>Kruszyna PHOTO</title>
    </head>
    <body>
        <div>
            <h1><a href="">Blog</a></h1>
        </div>

        <div>
            <p>opublikowano: 26 lutego 2016, 16:15</p>
            <h2><a href="">O mnie</a></h2>
            <p>Cztery słowa o mnie</p>
        </div>

        <div>
            <p>opublikowano: 26 lutego 2016, 16:20</p>
            <h2><a href="">Portfolio</a></h2>
            <p>Najlepsze prace</p>
        </div>

    </body>
</html>